__pycache__/
.env
db_uae_property.py
db_uae_community.py
db_uae_classified.py
db_uae_motors.py
db_uae_jobs.py

categories_pages.csv

README.md
try.py

main_nw_proj.py
new_projects_writer.py
.github\workflows\Property_New_Projects.yml
